.container {
	display: grid;
	margin: 10px auto;
}



.Header {
	background-color: #55D4EB;
	height: 110px;
	display: block;
	text-align: center;
	vertical-align: middle;
	font-size: 2rem;
	color: white;
}

.contents div {
	display: inline-grid;
	float: left;
	margin-top: 5px;

}

.left div {
	height: 444px;
	width: 20rem;
	margin-right: 10px;
}

.right div {
	display: grid;
	float: right;
	width: 62.65rem;
}

.sidebar {
	background-color: #A0C263;
	font-size: 2rem;
	color: white;
}

.main-content {
	background-color: #F5C531;
    height: 334px;
    font-size: 2rem;
    color: white;
    margin-bottom: 5px;
    
}

.extra-content {
	background-color: #898989;
	height: 100px;
	font-size: 1.5rem;
	color: white;
}

.footer {
	background-color: #FFA500;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	font-size: 2rem;
	color: white;
	margin-top: 10px;
}

